@import 'partials/normalize';
@import 'partials/searchResult';
@import 'partials/slideOutInfo';
@import 'partials/accountForm';
@import 'partials/account';
@import 'partials/jobsview';

$primary-color: #7685A1;
$secondary-color: #CA6295;
$tetiary-color: white;

$quaternary-color: #846BA7;

body {
    font-family: 'Mukta Malar', sans-serif; 
    background: #ebebeb;
}
button {
    border: none;
    background: none;
}
header {
    width: 100%;
    background: #4b5466;
   // height: 100px;   
    padding: 5px 0;
    color: $tetiary-color; 

    .logo { 
        background: url('/images/noun_1036986_cc-purple.svg') no-repeat center;
        text-align: center;
        // width: 31%;
        height: 75px;
        margin: 10px 0;
        h2 {
            color: $tetiary-color;
            font-size: 45px;
            font-weight: 700;
            opacity: 0.9;
            span {
                color: $secondary-color;
            }
        }
    }

    a {
        text-decoration: none;
        color: $tetiary-color;
    }

    nav li{
        float: left;
        margin: 35px 20px;
        list-style: none;
    }

    .sign-in {
        margin: 35px 0;
        float: right;
        background: none;
        color: $tetiary-color;
        border: none;
    }   
}


.header-col1, .header-col2, .header-col3{
    width : calc(100%/3);
    float : left;
}


.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

.search-for-jobs {
    clear: both;
    background: url('/images/mbpbg.jpg') 50% no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    margin: 0;
    max-width: 100%;
    h1 {
        color: $tetiary-color;
        font-size: 45px;
        width: 50%;
        margin: 0px auto;
        line-height: 70px;
        padding-top: 35vh;
        span {
            color: $secondary-color;
        }
    }
    input {
        // padding: 5px;
        font-size: 20px;
        width: 250px;
        text-align: center;
        border: solid 3px $primary-color;
        border-radius: 5px;
        margin: 10px;
    }
    button {
        padding:0 10px;
        background: $secondary-color;
        color: white;
        border-radius: 5px;
        display: inline-block;
        font-size: 20px;
        border: 3px solid $secondary-color;
    }
    button:hover {
        background: $quaternary-color;
        border: 3px solid $quaternary-color;
        transition: 0.3s;   
    }
}

.change-page-controls {
    margin: 0 auto;
    text-align: center;
    button {
        margin: 20px 50px;
        font-size: 20px;
        background: none;
        color: $quaternary-color;
        border: none;
        transition: 0.3s
    }
    button:hover {
        background: none;
        border:none;
    }
    #page-last:hover {
        transform: translateX(-5px);
        transition: 0.3s;
    }
    #page-next:hover {
        transform: translateX(5px);
        transition: 0.3s;
    }
}

.retrieving-jobs {
    text-align: center;
    font-size: 18px;
}





@media (max-width: 620px) {
    nav {
        width: 100%;
        float: none;
    }

    header{
        //text-align : center;
        ul{
           text-align : right;
           padding : 0;
        }

        nav{
            float : right;
        }

        nav li{
            padding-left : 25px;
            float : right;
            width : 15%;
            margin : 0;
        }
    }


    .header-col1{
        width : 100%;
        clear : both;
    }

    .header-col2{
        width : 50%;
        clear : both;
    }

    .header-col3{
        width : 50%;
        float : right;   
    }

    .search-for-jobs{
        button{
            display : block;
            margin : 0 auto;
        }
    }
}

