@import 'partials/normalize';
@import 'partials/searchResult';
@import 'partials/slideOutInfo';
@import 'partials/accountForm';
@import 'partials/account';
@import 'partials/jobsview';

$primary-color: #7685A1;
$secondary-color: #CA6295;
$tetiary-color: white;
// $tetiary-color: #ECE6D0;

$quaternary-color: #846BA7;

* {
     border: solid 1px black;
     box-sizing: border-box;
}

body {
    font-family: 'Mukta Malar', sans-serif; 
    background: #ebebeb;
}
button {
    border: none;
    background: none;
}
header {
    width: 100%;
    background: #4b5466;
    height: 100px;   
    padding: 5px 0;
    color: $tetiary-color; 
    .logo { 
        background: url('/images/noun_1036986_cc-purple.svg') no-repeat center;
        text-align: center;
        // width: 31%;
        height: 75px;
        margin: 10px 0;
        h2 {
            color: $tetiary-color;
            font-size: 45px;
            font-weight: 700;
            opacity: 0.9;
            span {
                color: $secondary-color;
            }
        }
    }
    // nav {
    //     // margin-left: 20px;
    // }
    
    // img{
       
    //     // text-align: center;
    //     // margin: 0 auto;
    // }
    a {
        text-decoration: none;
        color: $tetiary-color;
    }
    nav li{
        float: left;
        margin: 35px 20px;
        list-style: none;
    }
    nav li:first-child {
        margin-left: 0;
    }
    .sign-in {
        margin: 35px 0;
        float: right;
        background: none;
        color: $tetiary-color;
        border: none;
    }
    
}

// @media (max-width: 760px) {
//     header {
//         height: 150px;
//         .logo {
//             float: left;
//             // width: 100%;
//             // padding-top: 35px;
//         }
//         nav {
//             float: right;
//             margin-top: 20px;
//             width: 20%;
//             li {
//                clear: both;
//                display: block;
//                margin: 0;
//                padding: 0;
//            }

//         }
//         .sign-in-out {
//             float: right;
//             width: 100%;
//             .sign-in {
//                 width: 20%;
//                 text-align: left;
//                 margin: 5px 0;
//             }
//         }
        
//     }
// }

// @media (max-width: 600px) {
//     .logo, nav, .sign-in-out {
//         clear: both;
//     }

//     nav li {
//         width: 100%;
//     }
    
// }




.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

nav, 
.logo, 
.sign-in-out {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

.search-for-jobs {
    clear: both;
    background: url('/images/mbpbg.jpg') 50% no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    margin: 0;
    max-width: 100%;
    h1 {
        color: $tetiary-color;
        font-size: 45px;
        width: 50%;
        margin: 0px auto;
        line-height: 70px;
        padding-top: 35vh;
        span {
            color: $secondary-color;
        }
    }
    input {
        // padding: 5px;
        font-size: 20px;
        width: 15%;
        text-align: center;
        border: solid 3px $primary-color;
        border-radius: 5px;
        margin: 10px;
    }
    button {
        padding:0 10px;
        background: $secondary-color;
        color: white;
        border-radius: 5px;
        display: inline-block;
        font-size: 20px;
        border: 3px solid $secondary-color;
    }
    button:hover {
        background: $quaternary-color;
        border: 3px solid $quaternary-color;
        transition: 0.3s;   
    }
}

.change-page-controls {
    margin: 0 auto;
    text-align: center;
    button {
        margin: 20px 50px;
        font-size: 20px;
        background: none;
        color: $quaternary-color;
        border: none;
        transition: 0.3s
    }
    button:hover {
        background: none;
        border:none;
    }
    #page-last:hover {
        transform: translateX(-5px);
        transition: 0.3s;
    }
    #page-next:hover {
        transform: translateX(5px);
        transition: 0.3s;
    }
}

.retrieving-jobs {
    text-align: center;
    font-size: 18px;
}

@media (max-width: 700px) {
    nav {
        width: 100%;
        float: none;

    }
}