.account-page-options {
    clear: both;
    text-align: center;
}

.account-page-button{
    width: 20%;
    margin: 20px;
    background: white;
    border: solid 3px $primary-color;
}

.account-button-toggled {
    background: $quaternary-color;
    border: 3px solid $quaternary-color;
    color: white;
    transition: 0.3s;
}

.my-application{
    color: $secondary-color;
    font-size: 35px;
    margin: 20px 0;
    button {
        // color: $secondary-color;
        margin: 0 10px;
        transition: 0.3s;
    }
    button:hover,
    button:focus {
        color:$primary-color;
        transition: 0.3s
    }
}
.application-section {
    background: white;
    padding: 50px;
    h3 {
            font-size: 50px;
            text-align: center;
    }
    h4 {
            color: $primary-color;
            font-size: 30px;
            margin-top: 25px;
    }
    p {
        font-size: 25px;
    }
}


   
 