.account-page-options {
    clear: both;
    text-align: center;
}

.account-page-button{
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top : 10px;
    background: white;
    border: solid 3px $primary-color;
}

.account-page-button:hover, .account-button-toggled, .account-form-submit {
    background: $quaternary-color;
    border: 3px solid $quaternary-color;
    color: white;
    transition: 0.3s;
}
.sign-in-to-view {
    text-align: center;
    margin: 25px;
}

.my-application{
    color: $secondary-color;
    font-size: 35px;
    margin: 20px 0;
    button {
        // color: $secondary-color;
        margin: 0 10px;
        transition: 0.3s;
    }
    button:hover,
    button:focus {
        color: $primary-color;
        transition: 0.3s
    }
}
.application-section {
    background: white;
    padding: 50px;
    h3 {
        font-size: 50px;
        text-align: center;
    }
    h4 {
        color: $primary-color;
        font-size: 30px;
        margin-top: 25px;
    }
    p {
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    .my-application {
        font-size: 25px;
    }
    .application-section {
        h3{
            font-size: 35px;
        }
        h4 {
            font-size: 21px;
        }
        p {
            font-size: 18px;
        }
    }
}

   
 