.jobs-saved-applied-btn {
    text-align: center;
    button {
        margin: 20px;
        background: none;
        border: 3px solid #ebebeb;
        padding: 0 10px;
        transition: 0.3s;
        border-radius: 5px;
    }
    button:hover,
    button:focus {
    background: $quaternary-color;
    border: 3px solid $quaternary-color;
    color: white;
    transition: 0.3s;
    padding: 0 10px;
    border-radius: 5px;
    }

    .jobs-view-button-toggled{
        background-color : $quaternary-color;
        border: 3px solid $quaternary-color;
        color : white;
        border-radius: 5px;
        padding: 0 10px;
    }
}

