.search-result {
    width: 80%;
    cursor: pointer;
    padding: 30px;
    margin: 25px auto;
    background-color : white;
    border: solid 10px white;
    box-shadow: 0px 1px 3px grey;
    transition: 0.3s;
    h3{
        font-size: 25px;
        pointer-events : none;
        color: $primary-color;
    }
    h4{
        font-size: 20px;
        pointer-events : none;
        color: $secondary-color;
        float: left;
        width: 90%;
    }
    button {
        color: $primary-color;
        background: none;
        border: none;
        transition: 0.3s;
    }
    button:hover {
        transform: translateX(5px);        
        transition: 0.3s;
    }
    .fa-check-circle {
        font-size: 20px;
        float: right;
        color: $quaternary-color;
        margin : 5px;
    }
    .fa-star{
        float: right;
        font-size: 20px;
        margin : 5px;
        color: $secondary-color;
    }
    .fa-arrow-right {
        display: inline-block;
        margin-left: 5px;
    }
}
.search-result:hover{
    border : solid 10px $primary-color;
    box-shadow : 0px 2px 6px grey;
    transition: 0.3s;
}

